@font-face {
  font-family: 'Avenir';
  src: url('../font/AvenirNextCyr.woff2') format(woff2),
    url('../font/AvenirNextCyr.eot') format(opentype);
  font-weight: 900;
  font-style: normal;
  font-stretch: semi-extended;
  font-variant: normal;
}
