body {
  font-family: 'Avenir';
  font-size: 24px;
  font-weight: normal;
  line-height: 18px;
  color: var(--text-color);
  overflow: hidden;
  position: relative;

}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-size: 24px;
  font-weight: normal;
}
