:root {
  // COLOR
  --text-color: #ffffff;
  --text-color-dark: #424242;
  --maine-bg-color: #ffffff;
  --start-button-color: #8e9ad5;
  --button-purple: linear-gradient(266.19deg, #8049c7 0%, #ca57fd 100%);
  --button-blue: linear-gradient(266.19deg, #169ae4 0%, #0cc4fa 100%);
  --button-yellow: linear-gradient(
    90deg,
    #ffd748 0.02%,
    rgba(195, 199, 11, 0.96) 99.97%,
    #cac6ab 99.98%,
    #d3e9e1 99.99%
  );
  --gradient-color: linear-gradient(63.53deg, #2d8550 16.62%, #5e6ec2 83.38%);

  --border-radius-big: 100px;
}

// background: rgba(66, 66, 66, 1);
